<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Component</title>

</head>
<body>
  <!-- div used for background -->
  <div class="background">
    <!-- SNACKBAR ADAPTED FROM W3SCHOOLS - https://www.w3schools.com/howto/howto_js_snackbar.asp -->
    <div id="snackbar">Bookmarks: {{numberOfBookmarksOnLoad}}</div>
    <!-- Every component its inside this container -->
    <div class="container">
      <!-- search-bar component -->
      <app-search-bar></app-search-bar>
      <!-- video-view component -->
      <app-video-view></app-video-view>
      <!-- history component -->
      <app-history></app-history>
      <!-- bookmarks component -->
      <app-bookmarks></app-bookmarks>
    </div>
  </div>
</body>
</html>