
.background
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(167, 70, 78);
}

.container
{
    border-radius: 10px;
    position: absolute;
    width: 140vh;
    height: 80vh;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
@media only screen and (max-width: 135vh)
{
    .container
    {
        width: 90vw;
        height: 50vw;
    }
}


