<div class="delimitation">
    <div class="container">
        <!-- History header -->
        <h4>
            History
            <!-- img is used as a button, it clears history list -->
            <img src="/assets/icons/trash-can.svg" alt="Delete All" title="Delete history" (click)="clearHistory()">
        </h4>
        <!-- Shows history -->
        <ul>
            <!-- Each list entry can be clicked to update video displayed -->
            <li *ngFor="let item of videoHistory" (click)="changeCurrentVideo(item)">{{item}}
                <!-- Delete button which will remove entry from the list -->
                <button title="Delete entry" (click)="removeURLHistory(item)">x</button>
            </li>
        </ul>
    </div>
</div>
